.countainer_transfer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 120px;

    .transaction{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 50px;
        margin-top: 50px;
    
        &__connection{
            width: 384px;
            height: 81px;
            background-color: white;
            border: 1px solid #E0E0E0;
            border-radius: 8px;
            font-size: 24px;
            font-weight: 400;
            padding-left: 15px;
        }
    
        &__description{
            width: 367px;
            height: 81px;
            background-color: white;
            border: 1px solid #E0E0E0;
            border-radius: 8px;
            font-size: 24px;
            font-weight: 400;
            padding-left: 15px;

            &::placeholder{
                color: black;
                opacity: 1;
            }
        }
    
        .input_number_symbole::after{
            content:"€";
            position: relative;
            left: -145px;
            font-size: 24px;
            font-weight: 400;
        }

        &__amount{
            width: 183px;
            height: 121px;
            border: 1px solid #E0E0E0;
            border-radius: 8px;
            font-size: 24px;
            font-weight: 400;
            padding-left: 15px;
        }
    
        button{
            width: 120px;
            height: 88px;
            border-radius: 8px;
            color: white;
            background-color: #207FEE;
            font-size: 16px;
            font-weight: 700;
            margin-left: 15px;
        }
    }

    .resume-new-transaction {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #E0E0E0;
        border-radius: 8px;
    
        max-height: 0;
        padding: 0;
        overflow: hidden;
        opacity: 0;
        transition: max-height 1s ease, opacity 1s ease;
    
        &.resume-new-transaction-over {
            max-height: 500px; /* Ajustez selon le contenu */
            padding: 30px 0; 
            opacity: 1;
        }

        p{
            width: 300px;
            background-color: white;
            border-radius: 8px;
            font-size: 24px;
            font-weight: 600;
            text-align: center;
            margin :  0;
            padding: 10px 3px;
        }

        button{
            width: 120px;
            height: 55px;
            border-radius: 8px;
            color: white;
            background-color: #207FEE;
            font-size: 16px;
            font-weight: 700;
            margin: 30px 0;
            cursor: pointer;
        }
    }

    .resume{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 93%;

        table{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 100%;
            border: 1px solid #E0E0E0;
            border-radius: 8px;
            padding: 15px;

            caption{
                display: flex;
                justify-content: start;
                font-weight: 600;
                font-size: 24px;
            }

            tr{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 12px 0;
                th{
                    width: 120px;
                    display: flex;
                    justify-content: flex-start;
                    
                }

            }

            thead{
                tr{
                    th{
                        font-weight: 600;
                        font-size: 24px;
                    }
                }
            }

            tbody{
                tr{
                    border-top: 1px solid #E0E0E0;
                    th{
                        font-weight: 400;
                        font-size: 24px;  
                    }

                    .resume-amount{
                        justify-content: flex-end;
                    }
                }
            }
        }
    }
}

