.countainer_profil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;

    &__form{
        display: flex;
        flex-direction: row;

        &-content{
            display: flex;
            flex-direction: column;
            align-items: center;

            div{
                display: flex;
                justify-content: space-between;
                gap: 20px;
                margin: 10px 0;

                label{
                    width: 156px;
                    height: 28px;
                    font-size: 20px;
                    font-weight: 600;
                }
    
                input{
                    width: 297px;
                    height: 28px;
                    border: none;
                }
    
                ::placeholder{
                    color: black;
                    font-size: 20px;
                    font-weight: 300;
                }
            }
        }

        &-btn{
            display: flex;
            flex-direction: row;

            .btn_update_profil{
                width: 147px;
                height: 64px;
                color: white;
                background-color: #F69F1D;
                border: none;
                border-radius: 8px;
                font-size: 24px;
                font-weight: 700;
                cursor: pointer;
                margin-top: 120px;
            }
        }
    }

    .update_message{
        display: flex;
        justify-content: center;
        width: 550px;
        background-color: green;
        color: white;
        margin-top: 30px;
        border: solid 1px black;
        border-radius: 8px;
        p{
            font-size: 24px;
            font-weight: 600;
        }
    }
}