.countainer_error{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__404{
        font-size: 160px;
        font-weight: 600;
    }

    &__text{
        font-size: 36px;
        text-align: center;
    }

}