.countainer_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 164px;
    padding: 0 70px;

    p{
        font-size: 20px;
        font-weight: 600;
    }

    nav{
        display: flex;
        gap: 25px;

        a, button{
            color: black;
            background-color: white;
            font-size: 20px;
            font-weight: 700;
            text-decoration: none;
            cursor: pointer;
            border: 2px solid transparent;
            border-radius: 3.5px;
            padding: 4px;

            &:hover{
                border-color: black;
            }

            &:active{
                background-color: black;
                color: white;
            }
        }

    }

}